/* Smartphone */

@media only screen and (max-width: 787px){
    .header img {
        margin-left: 95px;
    }

    .header {
        position: relative;
        height: 390px;
    }

    .topo {
        text-align: center;
    }

    .topo ul li a {
        display: block;
        float: left;
        padding: 5px;
        border: 2px solid #f2e41b;
        width: 220px;
        padding: 10px;
    }


    /* Banner */
    .banner h1 {
        font-size: 55px;
        margin-top: -1px;
        margin-top: 40px;
    }

    .banner a {
        font-size: 17px;
    }





    /* Footer */
    .footer h3 {
        font-size: 50%;
    }

}