.one {
    width: 100%;
    height: 4px;
    background: #f2e41b;
}


/* ======= Top of the Site Menu/Topo do Menu do Site ======= */
.header {
    width: 100%;
    background: #d90404;
    padding: 25px;
}

.topo {
    text-align: right;
}

.topo ul li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
}


.topo ul li  a {
    font-family: 'Arial' sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    line-height: 15px;
    text-decoration: none; /*up*/
}

.topo ul li  a:hover {
    color: #f2e41b;
}






















